/* Sticky footer styles
-------------------------------------------------- */
@font-face { font-family: 'FranklinGothic'; src: url('css/ITCFranklinGothicStd-Demi.eot?#iefix') format('embedded-opentype'), url('css/ITCFranklinGothicStd-Demi.otf') format('opentype'), url('css/ITCFranklinGothicStd-Demi.woff') format('woff'), url('css/ITCFranklinGothicStd-Demi.ttf') format('truetype'), url('css/ITCFranklinGothicStd-Demi.svg#ITCFranklinGothicStd-Demi') format('svg'); font-weight: normal; font-style: normal; }

html {
  position: relative;
  min-height: 100%;
    font-family: 'FranklinGothic', sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    font-family: 'FranklinGothic', sans-serif;
    background-color: #ededed;
    padding-top: 10%;
    text-transform: uppercase;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

h1{ padding-left: 17.5px;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


.list-group-item { font-size: 60px;
    padding-top: 25px;
    padding-bottom: 0px;
}

.imgpad { padding-top: 20px;
}